{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur deserunt error labore
            laudantium magni maiores maxime molestias neque nisi, optio placeat porro provident reiciendis,
            reprehenderit similique soluta ut veniam.
        </div>
        <div>Expedita illo incidunt, odit praesentium quis sint! Atque error, fugiat incidunt iure labore molestiae
            neque, omnis porro, quam quasi rem similique velit voluptates. Autem expedita incidunt odio perferendis
            praesentium tempore.
        </div>
        <div>Deleniti neque perferendis provident. Animi deleniti nostrum repudiandae vero? Ad ducimus et rem sit
            veniam. Accusamus ex illo pariatur velit. Assumenda eaque id iure iusto maiores recusandae soluta ullam
            unde?
        </div>
        <div>Adipisci alias, amet asperiores aut cupiditate deserunt dicta dignissimos ducimus est in itaque, laboriosam
            minus molestiae, nihil nisi nobis porro quasi quo sapiente similique soluta suscipit temporibus vel velit
            voluptate.
        </div>
        <div>A aliquam aperiam consectetur cum cupiditate earum esse est exercitationem laboriosam minima molestiae
            mollitia, nam nemo nesciunt nihil nostrum nulla perspiciatis quaerat quis ratione, similique soluta sunt
            temporibus voluptate voluptates.
        </div>
        <div>Ab corporis debitis dicta dolorem, facilis id iusto laborum necessitatibus nesciunt non odio quam repellat
            saepe suscipit vitae? Accusantium dolores nostrum provident quidem quis recusandae sed sint velit veniam
            voluptatem.
        </div></div>
{% endblock %}

