<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('wish_list') }}">Wishes</a></li>
        <li><a href="{{ path('wish_create') }}">Add a wish</a></li>
    </ul>
</nav>
