{% extends 'base.html.twig' %}

{% block body %}
    <h2>List of wishes</h2>
    <section>
        {% for wish in wishes %}
            <article>
                <div>
                    <a href="{{ path('wish_detail', {'id': wish.id }) }}">{{ wish.title }} - [{{ wish.category.name }}]</a>
                </div>
            </article>
        {% else %}
            <p>Pas de wish !</p>
        {% endfor %}
    </section>

{% endblock %}

